<!-- views/about.mustache -->

<h1>About Us</h1>

<p>
  The Scottish Pantry Network (TSPN) is an initiative that aims to connect people who have surplus food with local food pantries in Glasgow. We understand the importance of reducing food waste and supporting those in need during the cost of living crisis.
</p>

<p>
  Our vison is to create a sustainable network of pantries providing low-cost food and wrap around services. The pantry is a dignified approach empowering communities to help themselves. The Pantry will support upskilling the community through volunteering and employability opportunities, with the shop itself being utilised as a training facility.
</p>

<p>
  Our web application allows individuals to register and post details of the food items they want to share. These items are then made available to local food pantries, who can select the items they need and arrange for collection from designated drop-off points.
</p>

<p>
  By facilitating the connection between food donors and pantries, we strive to make a positive impact on the community and reduce food insecurity in Glasgow.
</p>



<p>
  If you have any questions or would like to get involved, please don't hesitate to <a href="/contact">contact us</a>.
</p>